.info {
  margin-top: 20px;
  width: 100%;
  float: left;
}

#lush {
  font-family: lush, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 65px;
  color: #7d3c5a;
}

@media (max-width: 1360px) {
  .info {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .info {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .info {
    margin-top: 35px;
  }
}
.info p {
  font-size: 18px;
  line-height: 23px;
  color: rgb(19, 19, 19);
  text-align: center;
}
