.covers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
  padding-top: 50px;
}

.cover {
  width: 25%;
  background: white;
  margin: 1%;
  text-align: center;
  flex: 1 0 23%;
}

.cover img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.cover h3 {
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 300;
  color: rgb(43, 43, 43);
}

@media (max-width: 1200px) {
  .covers {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .cover {
    width: 100%;
    background: white;
    margin: 1%;
    text-align: center;
  }
  .covers {
    display: block;
  }
  .cover img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .cover h3 {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
    color: rgb(43, 43, 43);
  }
}
